@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--body-bg-color);
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-family: 'Poppins', sans-serif;
    padding-top: 10%;
    gap: 15px;
}
header{
    display: flex;
    flex-direction: column;
}

header img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid var(--purple);
    padding: 5px;
}

header a {
    display: block;
    margin: 15px auto 0 auto;
    font-size: 16px;
    font-weight: 300;
    color:var(--purple);
    cursor: pointer;
}

header a:hover {
    color:#9661ca;
    font-size: 18px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

main a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 50px;
    border: 2px solid var(--purple);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

main a:hover{
border: 3px solid #9661ca;
}

footer{
    margin: 40px 0 20px 0;
    display: flex;
    gap: 25px;
}

footer img:hover{
    width: 130%;
}
